
{% extends "bootstrap/base.html" %}

{% block title %}pyecharts - {{ title }}{% endblock %}
    <meta charset="utf-8">
{% block head %}
    {{super()}}
    <link rel="icon" href="{{ url_for('static', filename='images/fav.ico')}}" type="image/x-coin">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}" type="text/css">
    <title>Proudly presented by ECharts</title>
	{% for jsfile_name in script_list %}
        <script src="static/echarts/{{ jsfile_name }}.js"></script>
    {% endfor %}
{% endblock %}

{% block navbar %}
    <meta charset="utf-8">
    <div class="navbar navbar-inverse" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/">pyecharts</a>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">直角坐标系
                            <ul class="dropdown-menu">
                                <li><a href="{{ url_for('bar') }}">柱状图</a> </li>
                            </ul>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="container">
      <button class="btn-info" onclick="onEditButtonClick()"><span class="glyphicon glyphicon-pencil"></span>Edit</button> in browsers
          <script>
            function onEditButtonClick(){
                window.location.href="https://pyecharts.github.io/pyecharts.js-app/#https://raw.githubusercontent.com/pyecharts/pyecharts-app/master/app/charts/{{source_file}}.py";
            }
          </script>
    </div>
    <div class="my-charts">
        {{ myechart|safe }}
    </div>
    <footer class="container-fluid foot-wrap">
        <p align="center" style="margin-top: 20px;color:#878B91;">
            Copyright &copy; 2017 chenjiandongx
        </p>
    </footer>
{% endblock %}
